/* css */

.header {
    text-align: center;
}

.sub-header {
    text-align: center;
}


.SEGITIGA {
    background-color: darkblue;
    padding-block: 10px;
    text-align: center;
    color: white;   
}

.SEGITIGA>h2 {
    margin: 0;
}

#kll-segitiga {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: white;
    border: 0px;
    color: blue;
    height: 40px;
}

.luas-segitiga {
    background-color: dodgerblue;
    padding-block: 10px;
    text-align: center;
    color: white;
    border-radius: 20px;   
}

.luas-segitiga>h2 {
    margin: 0;
}

.gambar-rumus-luas-segitiga {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

input {
    background-color: lightgray;
    border: 1px solid;
    border-radius: 3px;
}

section>form>div>button {
    padding: 15px;
    border: 3px solid black;
    border-radius: 40px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.button {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

#hitung-button {
    background-color: springgreen;
    margin-bottom: 0;   
}

#reset-button {
    background-color: red;
    color: white;
}

.gambar-rumus-keliling-segitiga {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.keliling-segitiga {
    background-color: dodgerblue;
    padding-block: 10px;
    text-align: center;
    color: white;
    border-radius: 20px;  
}

.keliling-segitiga>h2 {
    margin: 0;
}

input {
    width: 30%;
    height: 20px;
    margin-bottom: 15px;
}

#hasil_luas {
    width: 30%;
    height: 20px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: yellow;
}

#hasil_keliling {
    width: 30%;
    height: 20px;
    border: 3px solid black;
    border-radius: 3px;
    background-color: yellow;
}

#keliling-section {
    display: none;
}

